# Standard Python GitIgnore
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
papercast/
.env
.env.*
!.env.example
.venv
pip-log.txt
pip-delete-this-directory.txt

# OS Junk
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp

# Project Specific
node_modules/
dist/
build/
*.mp3
*.wav
*.pem
*.docx
*.doc
*.pdf
*.log
article_cache/
audiocache/
*.json
!backend/local_cache.json
!infrastructure/aws_config.json

# Tooling/IDE
.vscode/
.idea/
.gemini/
.pytest_cache/
.coverage
htmlcov/
instance/
.ipynb_checkpoints/
